/* Estilizando o fundo e o card */
body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
}

.card {
    border-radius: 15px;
    background-color: #fff;
}

h2 {
    font-size: 1.8rem;
    color: #333;
}

.form-group label {
    font-weight: bold;
    color: #555;
}

/* Botões de Disponibilidade */
.availability-buttons button.active {
    font-weight: bold;
    border-color: #007bff !important;
    color: #007bff !important;
}

.availability-buttons button:hover {
    background-color: #f0f0f0;
}

/* Estilo para o botão de submit */
.submit-button {
    font-weight: bold;
}

/* Remover setas do input de número */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
